{% extends 'layout.html' %}
{% block content %}
<div class="container-loginstyles">
        <form id="club-login-form">
            <h1 class="title">Login</h1>
            <h2 class="subtitle">You are not currently logged in. Please login to continue</h2>
            <div class="input-row-1">
                <label for="club-email">Email:</label>
                <input type="text" id="club-email" name="club-email" required>
            </div>
            <div class="input-row-2">
                <label for="club-pwd">Password:</label>
                <input type="password" id="club-pwd" name="club-pwd" required>
            </div>
            <div class="row">
                <div id="club-incorrect-input-div">
                    <span id="club-incorrect-input-span"></span>
                </div>
                <p id="forgot">
                    <a href="">Forgot your email or password?</a>
                </p>
                <button class= "btn">Login</button>
            </div>
        </form>
</div>
{% endblock %}