{% extends 'layout.html' %}
{% block content %}
<div class="container-loginstyles sign-out-container">
    <h1>Sign out?</h1>
    <div class="acc-sign-out">
        <div class="acc-dp">
            <img class="dp" src="/src/img/Placeholder.jpg" alt="user display picture">
        </div>
        <div class="acc-info">
            <p>Signed in as</p>
            <p><b>User</b></p>
        </div>
        <div class="sign-out-btn">
            <button id="sign-out-btn">
                Sign out
            </button>
        </div>
    </div>
</div>
{% endblock %}    