{% extends 'layout.html' %}
{% block content %}
<div class="container-loginstyles" id="password-creation-page">
    <form id="password-form">
        <fieldset class="password-fieldset">
            <legend id="new-password-label">Create a new password</legend>
            <input type="password" id="new-password" required>
        </fieldset>
        <fieldset class="password-fieldset">
            <legend id="confirm-password-label">Confirm new password</legend>
            <input type="password" id="confirm-password" required>
        </fieldset>
        <div id="passwords-dont-match-div">
            <span id="passwords-dont-match-span"></span>
        </div> 
        <button type="submit"  class="btn">Submit</button>
    </form>
</div>
{% endblock %}