{% extends 'layout.html' %}

{% block content %}
<div class="container-loginstyles" id="prefect-container">
        <form id="prefect-login-form">
            <div class="input-row-1">
                <label for="prefect-email">Email:</label>
                <input type="text" id="prefect-email" name="prefect-email" autocomplete="off" required>
            </div>
            <div class="input-row-2">
                <label for="prefect-pwd">Password:</label>
                <input type="password" id="prefect-pwd" name="prefect-pwd" required>
            </div>
            <div id="incorrect-input-div">
                <span id="incorrect-input-span"></span>
            </div>
            <div class="row">
            <p id="forgot"><a href="">Forgot your email or password?</a></p>
            <button class="btn" class="btn" id="prefect-login" type="submit">Login</button>
            </div>
        </form>
</div>
{% endblock %}